html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #292929;
    /* max-width: 99vw; */
}

*,
*::before, 
*::after {
    box-sizing: inherit;
}

header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-content: center;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.05);
}

header > h1 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.3rem;
    font-size: 2.2rem;
}

.container {
    display: grid;
    grid-template-rows: 1fr;
    /* grid-column-gap: 10px; */
    grid-template-columns: 300px 0px 1fr;
    grid-template-areas: 'left gap right';
    height: 100%;
    background: #eee;
    min-height: 0;
    min-width: 0;
    overflow-wrap: break-word;
}

.container > .left {
    grid-area: left;
    background: #999;
    padding: 1.5em 1em;
    overflow: hidden;
    min-width: 0;
}

.left > .user_email {
    margin: 50px 0;
}

.container > .right {
    grid-area: right;
    padding: 1.5em 1em;
    overflow: hidden;
    min-width: 0;
}

.container > .right > #status {
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: break-word;
    background: transparent;
    border: 1px solid;
    border-radius: 5px;
}

.container > .right > #log {
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: break-word;
    background: transparent;
    border: 1px solid;
    border-radius: 5px;
}